# Игнорировать директорию с скомпилированными файлами
/build/
out/

# Игнорировать зависимости
/.gradle/
/.gradle/
/mvn/
/frontend/reports

# Игнорировать файлы окружения
.env
*.env   
/frontend/package-lock.json

# Игнорировать IDE файлы
*.iml
.idea/
.vscode/