.button__white {
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 12px;
    border: 1px solid black;
    color: black;
    padding: auto;
    font-size: 20px;
    text-decoration: none;
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
}

.button__white::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0074DF;
    transition: bottom 0.4s ease;
    z-index: -1;
}

.button__white:hover::before {
    bottom: 0;
}

.button__white:hover {
    color: white;
    border: 1px solid #0074DF;
}

.button__black {
    position: relative;
    overflow: hidden;
    background-color: black;
    border: 0;
    border-radius: 12px;
    color: white;
    padding: auto;
    font-size: 20px;
    text-decoration: none;
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
}

.button__black::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0074DF;
    transition: bottom 0.4s ease;
    z-index: -1;
}

.button__black:hover::before {
    bottom: 0;
}

.button__black:hover {
    color: white;
}

.button__black p{
    margin: 0;

}
.button__white p{
    margin: 0;
}
